*{ box-sizing: 0;
  }

body {
   background-image: URL(../images/IMGFONDO.jpg);
   background-repeat:no-repeat;
   background-size: 100% 100%; 
font-family: 'Open Sans', sans-serif;
font-family: 'Exo 2', sans-serif;
}
.header {
    width: 100%;
}
.header {
    background-color:URL(../images/TITLE.jpg);
    padding: 20px;
    text-align: center;
}
        .column {
    float: left;
    width: 33.33%;
    padding: 15px;
}

/* Clear floats after the columns */
    .row:after {
    content: "";
    display: table;
    clear: both;
}
.footer {
    background-color: #F1F1F1;
    text-align: center;
    padding: 10px;
}
